---
layout: default
menu: blog
---

{% for post in site.posts %}
  <article class="post excerpt">
		<header>
			<h2>
				<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
			</h2>
		</header>
		<p class="excerpt">
			{{ post.excerpt | strip_html | strip_newlines | truncate: 256 }}  
		</p>
		<p class="read-more">
			<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">READ MORE</a> 
			<span class="minutes">
				<i class="far fa-clock"></i> 
				{% assign words = post.content | number_of_words %}
			  {% if words < 360 %}
			    1 minute
			  {% else %}
			    {{ words | divided_by:180 }} minutes
			  {% endif %}
			</span>.
		</p>
		<footer>
			<p class="post-meta">
	      <time datetime="{{ post.date | date: '%Y-%m-%d %T' }}-0400">{{ post.date | date: "%b %-d, %Y" }}</time>
	      <span>{{ post.categories }}</span>
	    </p>
		</footer>
	</article>
{% endfor %}
