body {
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 3vw minmax(100px, 1fr) 3vw;
}
.site-header {
	grid-column: 2 / 3;
  grid-row: 1 / 2;
}
nav {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
main {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
@media(max-width: 900px){//from 0 to 900
	.site-header {
		grid-column: 1 / -1;
		> div {
			display: grid;
    	grid-template-columns: auto minmax(100px, 1fr) auto;
    	grid-template-rows: repeat(2, auto);
		}
		.home-link, address, address > .tag, address > .tag > span {
			display: contents;
		}
		.logo {
			grid-column: 1 / 2;
			grid-row: 1 / -1;
			align-self: center;
		}
		.nickname, h1, h2 {
			grid-column: 2 / 3;
		}
		.nickname {
			grid-row: 1 / 2;
		}
		h1, h2 {
			grid-row: 2 / 3;
		}
		.resume {
			display: none;
		}
		.social {
			grid-column: 3 / 4;
			grid-row: 1 / -1;
			align-self: center;
		}
	}
}
@media(min-width: 900px){//from 900 to 1126
	body {
		grid-template-columns: 2.5% minmax(100px, 30%) minmax(100px, 65%) 2.5%;
	}
	nav {
		grid-column: 3 / 4;
	  grid-row: 1 / 2;
	}
	main {
		grid-column: 3 / 4;
	  grid-row: 2 / 3;
	}
	b.bg {
		grid-column: 4 / 5;
		grid-row: 1 / -1;
	}
	.site-header {
		grid-row: 1 / -1;
	}
}
@media(min-width: 1126px){//1126 up
	body {
		grid-template-columns: 5% minmax(100px, 25%) minmax(100px, 65%) 5%;
	}
}